.login_page {
    background-color: #ddd;
    min-height: 100vh;
    position: relative;
}

.login_page_content {
    padding-bottom: 110px;
}

.landing_links_container {
    padding: 16px;
}

.copyright-container {
    position: absolute;
    bottom: 0;
    width: 97%;
    padding: 0px 16px 0px 16px;
    background-color: #00695c;
    color: #fff;
    font-size: 11px;
}

.example-card {
    max-width: 350px;
    /* margin: 0 auto; */
}

.example-header-image {
    background-image: url(../../../assets/user.png);
    background-size: cover;
    border-radius: 50%;
}

.hr_text {
    line-height: 1rem;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
    width: 20rem;
}

.image-container {
    padding: 16px 16px 32px 16px;
}

.mat-card-header .mat-card-title {
    color: #00695c;
}