.signup_page {
    background-color: #ddd;
    min-height: 100vh;
    position: relative;
}

.example-card {
    max-width: 480px;
    margin: 0 auto;
}

.image_holder {
    margin: 0 auto;
    text-align: center;
}

.example-header-image {
    background-image: url(../../../assets/user.png);
    background-size: cover;
    border-radius: 50%;
}

.hr_text {
    line-height: 1rem;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
    width: 20rem;
}

.image-container {
    padding: 16px 16px 32px 16px;
}

.mat-card-header .mat-card-title {
    color: #00695c;
}